{# ::exception.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}An Exception Occurred: {{ status_text }}{% endblock %}
{% block body %}
    <h1>Oops! An Exception Occurred</h1>
    <h2>DdxDr returned a "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}
    

