{# DdxDrWebBundle:History:index.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}OHLC{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <h2>OHLC Data</h2>
        </div>
        <div style="height: 300px;" class="col-md-10" id="graphContainer">
            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
   <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
